// RESET 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//IMPORT FONT FROM GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}

//GENERIC



.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}
